/* start header */
.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
    height: 70px;
}

.navbar-light .navbar-brand {
    color: #dc4f72;
    margin-top: -10px;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
}

.nav-link {
    color: #dc4f72;
}

ul .navbar-nav .ml-auto {
    margin-top: 5px;
}

.btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
    font-weight: 500;
    transition: 0.5s;
    margin-top: -2px;
}

.btn-outline-primary:hover {
    background: #dc4f72;
}

.navbar-light .navbar-brand:hover {
    color: #dc4f72;
}


.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0px 10px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #dc4f72;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    transition: 0.5s;
    position: relative;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #dc4f72;

}


.navbar-light .navbar-nav .nav-link::before {
    display: block;
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -5px;
    background: #dc4f72;
    transition: 0.7s;
}

.navbar-light .navbar-nav .nav-link:hover::before {
    width: 30%;
}

.dropdown-item {
    display: block;
    position: relative;
}

.dropdown-item:hover {
    color: #dc4f72;
    transition: 0.7s;
}

.dropdown-item::before {
    display: block;
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -5px;
    background: #dc4f72;
    transition: 0.7s;
}

.dropdown-item:hover::before {
    width: 20%;
}

/* end header  */

/* start carousel  */
.carousel {
    overflow: hidden;
    background: #ffffff;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(./image/banner.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.carousel_active {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel_title h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.carousel_title p {
    font-size: 17px;
    color: #636363;
    margin-bottom: 40px;

}

/* end carousel  */

/* start us  */
.info_us {
    text-align: center;
    margin-top: 30px;
}

.info_us b {
    color: #dc4f72;

}

.info_us h2 {
    font-size: 46px;
    font-weight: 600;
}

.info_us p {
    color: #636363;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.us_title {
    display: flex;
    justify-content: space-between;
}

.us_item {
    width: 31%;
    height: 300px;
    text-align: center;
    padding: 27px 0px;
    background: #f7f9fc;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.11);
}

.us_item h3 {
    margin: 17px;
}

.us_item p {
    color: #636363;
    font-size: 16px;
}

.us_item:hover {
    background: white;
    transform: translateY(-20px);
}

/* end us  */

/* start company  */
.company {
    height: 780px;
    background: #f9f7fc;
}

.info_company {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.company_left {

    width: 55%;
}

.company_left b {
    color: #dc4f72;
    font-weight: 500;
    margin-bottom: 15px;
}

.company_left h2 {
    font-size: 35px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 35px;
}

.company_left p {
    color: #636363;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

.company_right {
    width: 45%;
    transition: 0.5s;
}

.company_right:hover {
    transform: translateY(-10px);
}

.company_right img {
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: 10px;
}


.company_title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
}

.company_item {
    width: 31.5%;
    height: 210px;
    background: white;
    border-radius: 8px;
    padding: 25px;
    transition: 0.5s;
    margin-bottom: 100px;
}

.company_item:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.company_item h2 {
    color: #dc4f72;
    font-weight: 700;
    font-size: 50px;
    padding: 5px 0px;
}

/* end company  */

/* start commit */
.commit {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(./image/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    padding: 2rem 0;
    color: white;
}

.info_commit {
    padding-top: 70px;
}

.info_commit b {
    font-size: 30px;
    line-height: 36px;

}

.info_commit p {
    font-size: 16;
    color: #eee;
}

/* end commit  */

/* start solution  */
.solution {
    background: white;
}

.info_solution {
    text-align: center;
    margin: 50px 0px;
}

.info_solution b {
    color: #dc4f72;

}

.info_solution h2 {
    font-size: 46px;
    font-weight: 600;
}

.info_solution p {
    color: #636363;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.solution_father {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.solution_mother {
    width: 32%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 2px 10px 10px 0px rgba(0, 0, 0, 0.11);
    transition: 0.5s;
    position: relative;

}

.solution_mother:hover .corporate {
    color: #dc4f72;
}

.solution_mother:hover {
    transform: translateY(-10px);
}

.solution_brother a img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: grayscale(100);
    transition: 0.5s;
}

.solution_mother:hover img {
    filter: grayscale(0);
}

.solution_brother a {
    text-decoration: none;

}

.solution_brother a .date {
    color: white;
    width: 140px;
    background: #dc4f72;
    height: 45px;
    font-size: 18px;
    font-weight: 700;
    padding-top: 7px;
    padding-left: 15px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-top-right-radius: 10px;
}

.solution_sister {
    margin-top: 25px;
    margin-inline: 15px;
}

.solution_sister .sister_business {
    width: 100px;
    height: 35px;
    background: #fcdfe4;
    color: #dc4f72;
    padding-left: 20px;
    padding-top: 4px;
    border-radius: 40px;
    font-weight: 600;
}

.solution_sister .sister_design {
    width: 100px;
    height: 35px;
    background: #cce6cc;
    color: #008000;
    padding-left: 20px;
    padding-top: 4px;
    border-radius: 40px;
    font-weight: 600;
}

.solution_sister .sister_industry {
    width: 100px;
    height: 35px;
    background: #ccccff;
    color: #0000ff;
    padding-left: 20px;
    padding-top: 4px;
    border-radius: 40px;
    font-weight: 600;
}

.solution_sister h4 a {
    text-decoration: none;
    color: black;
}

.solution_sister p {
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.solution_sister a {
    text-decoration: none;
    color: #dc4f72;
    font-weight: 600;
    position: relative;
}

.solution_sister a i {
    font-size: 60%;
    vertical-align: middle;
    padding-left: 0px;
    position: absolute;
    top: 7.5px;
    transition: 0.5s;
    margin-top: 1.5px;
}

.solution_mother:hover .solution_sister a i {
    margin-left: 5px;
}

/* end solution  */

/* start fags  */
.fags {
    background: #f7f9fc;
    height: 830px;

}

.info_fags {
    text-align: center;
    margin-top: 30px;
}

.info_fags b {
    color: #dc4f72;

}

.info_fags h2 {
    font-size: 46px;
    font-weight: 600;
}

.info_fags p {
    color: #636363;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.fags_active {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
}

.fags_img {
    width: 40%;
}

.fags_img img {
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    transition: 0.5s;
    border-radius: 10px;
}

.fags_img img:hover {
    transform: translateY(-10px);
}

.fags_title {
    width: 55%;
}

details {
    padding-inline: 20px;
}

details summary {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 15px 0px;
    border-radius: 10px;

}

details summary i {
    margin-top: 5px;
    transform: rotate(0deg);
    transition: 0.5s;
    transform-origin: 50% 50%;
}

details[open] summary i {
    transform: rotate(180deg);
}

.fags_title ul {
    list-style: none;
    list-style-position: inside;
    padding-inline-start: 0px;
}

.fags_title ul li {
    background: white;
    margin-bottom: 23px;
}

details summary p {
    transition: 0.5s;
}

/* end fags */

/* start cases  */
.cases {
    height: 100vh;
}

.info_cases {
    text-align: center;
    margin-top: 30px;
}

.info_cases b {
    color: #dc4f72;

}

.info_cases h2 {
    font-size: 46px;
    font-weight: 600;
}

.info_cases p {
    color: #636363;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.cases_active {
    margin-inline: auto;
    max-width: 1000px;
    justify-content: center;
}

.cases_brother {
    display: flex;
    list-style: none;
    justify-content: center;
}

.cases_brother li {
    width: 300px;
    text-align: center;
    border-bottom: 2px solid gray;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 7px;
    color: #636363;
    cursor: pointer;
}


.cases_mother {
    display: flex;
    width: 100%;
    padding-inline: 50px;
    margin-top: 30px;
}

.cases_sister_1 {
    width: 50%;
}

.cases_sister_1 h2 {
    font-size: 30px;
    line-height: 33px;
    font-weight: 600;
    margin-bottom: 16px;
}

.cases_sister_1 p {
    color: #636363;
    font-size: 16px;
    margin-bottom: 45px;
    line-height: 24.5px;
}

.cases_sister_2 {
    width: 50%;
}

.cases_sister_2 img {
    width: 95%;
    text-align: center;
    margin-left: 20px;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.cases_sister_2 img:hover {
    transform: translateY(-7px);
}

.cases_sister_2 .cases_khac {
    width: 90%;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);

}

.none {
    display: none !important;
}

.li-select {
    color: #dc4f72 !important;
    border-bottom: 3px solid #dc4f72 !important;
}

/* end cases  */

/* start clients  */
.clients {
    background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url(./image/b2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.info_clients {
    text-align: center;
    margin-top: 30px;
}

.info_clients b {
    color: #dc4f72;
}

.info_clients h2 {
    font-size: 46px;
    font-weight: 600;
}

.info_clients p {
    color: #636363;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    padding: 20px 10px;
    display: flex;
    margin-bottom: 100px;
    border-radius: 10px;
}

.slider_title {
    margin-left: 12px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 10px;
}

.slider_title img {
    height: 100px;
    width: 100px;
    border: 3px solid #dc4f72;
    border-radius: 50%;
    background-size: cover;
    object-fit: cover;
    object-position: 0px 0px;
    margin-right: 20px;
}

.slider_massege {
    display: flex;
}

.slider_massege i {
    font-size: 35px;
    color: #d5d6d7;
    margin-right: 10px;
}


.slider_footer {
    padding-left: 38px;
}

.slider_footer h4 {
    color: #dc4f72;
    font-size: 20px;
    font-weight: none;
}

.slider_footer p {
    font-size: 15px;
    color: #5a5a5a;
}

.swiper-pagination-bullet {
    width: 30px;
    border-radius: 1px;
    height: 5px;
    color: #dc4f72;
}

.swiper-pagination-bullet-active {
    background: #dc4f72;
}

.swiper-pagination-bullet:hover {
    background: #dc4f72;
}

/* end clients  */

/* start brand  */
.brand {
    height: 50vh;
    text-align: center;
}

.brand h2 {
    font-weight: 700;
    font-size: 45px;
}

.brand p {
    color: #636363;
}

.brand .button_brand {
    margin-top: 50px;
}

.brand .button_2 {
    background: #dc4f72;
    color: white;
    margin-left: 15px;
}

/* end brand  */
.footer {
    height: 68vh;
    background: #f7f9fc;
    margin-top: 100px;
}

.footer_impotant {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
}

.footer_left {
    width: 55%;
    display: flex;
}

.footer_active {
    width: 33%;
    height: 300px;
}

.footer_active ul {
    list-style: none;
    padding-inline-start: 0px;
}

.footer_active ul li {
    padding-top: 15px;
}

.footer_active ul li a {
    text-decoration: none;
    color: #656f7b;
    font-size: 15px;
    transition: 0.3s;
}

.footer_active ul li a:hover {
    color: #dc4f72;
}

.footer_right {
    width: 45%;
}

.active_item {
    margin-top: 20px;
    background: white;
    padding: 12px 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.active_item label {
    font-size: 20px;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.active_item input {
    width: 75%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #f7f9fc;
    padding-left: 15px;
}

.active_item button {
    width: 20%;
    height: 40px;
    background: #dc4f72;
    border: none;
}

.active_item button:hover {
    background: #dc4f72;
}

.active_item p {
    font-size: 16px;
    padding: 15px 0px;
}

.footer_over {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.over_left span a {
    text-decoration: none;
    color: black;
}

.over_left span a:hover {
    color: #dc4f72;
}

.footer_sticker {
    float: right;
}

.footer_sticker a i {
    margin-inline: 10px;
    color: black;
}

.footer_sticker a i:hover {
    color: #dc4f72;
}

/* end footer  */